@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Orbitron:wght@400..900&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Alagard";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Alagard"), url("/src/assets/fonts/alagard.ttf") format("truetype");
}

@theme {
  --font-orbitron: "Orbitron", serif;
  --font-marker: "Permanent Marker", cursive;
  --font-pixelify: "Pixelify Sans", cursive;
  --font-alagard: "Alagard", monospace;

  --color-dark-bronze: #4a3c3a;
  --color-light-bronze: #62504a;

  --color-dark-gold: #8b7563;

  --color-light-silver: #bfb7b7;
  --color-silver: #62748e;

  --color-dark-neutral: #252223;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.text-xxs {
  font-size: 0.625rem;
}

.clean {
  outline: none;
  border: none;
  ring: 0;
}

.clean:focus {
  outline: none;
  border: none;
  ring: 0;
}

.clean:-webkit-autofill,
.clean:-webkit-autofill:hover,
.clean:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}

.form-component {
  position: relative;
  border: 1px solid var(--color-dark-bronze);
}

.text-gradient {
  background: linear-gradient(
    to right,
    #e28c8c,
    #f06969,
    #f1e7e7,
    #f06969,
    #e28c8c,
    #f06969,
    #f1e7e7
  );
  background-clip: text;
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.animte-gradient {
  animation: "gradient 6s linear infinite";
}

.svg-blue-500 {
  filter: sepia(50%) saturate(250%) hue-rotate(170deg) brightness(95%);
}

.svg-green-500 {
  filter: sepia(50%) saturate(250%) hue-rotate(70deg) brightness(95%);
}

.svg-yellow-500 {
  filter: sepia(50%) saturate(250%) hue-rotate(360deg) brightness(95%);
}

.svg-red-500 {
  filter: sepia(50%) saturate(250%) hue-rotate(320deg) brightness(95%);
}

.svg-gray-500 {
  filter: sepia(20%) saturate(200%) brightness(95%);
}

[class*="svg-"] {
  outline: none;
}
[class*="svg-"] * {
  outline: none;
}
